<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.goodway">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-library
        android:name="io.goodway.navitia_android"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider871254659639982"
            android:exported="true"
            android:writePermission="true" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".EventActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".WayActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".DetailedWayActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".AddFriendActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".WayFinishedActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".PreferencesActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".SetLocationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".UserGroupsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".GroupSearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".GroupActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".AddressActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".SearchGroupActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".GoContactActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".GoAddressActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".GoPlaceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".activities.UberAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name=".activities.FacebookAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDWtqjudY90SMSDq2nQOhIpVlNaoXf2UUE" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsz0DDdPRpVToNdXYzyLoopHDvec1NkhA" />

    </application>

</manifest>